[submodule "universal_robot"]
	path = universal_robot
	url = https://github.com/portgasray/universal_robot.git
[submodule "usb_cam"]
	path = usb_cam
	url = https://github.com/portgasray/usb_cam.git
[submodule "move_group_tutorial_ur5"]
	path = move_group_tutorial_ur5
	url = https://github.com/portgasray/move_group_tutorial_ur5.git
